<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="/main/img/apple-icon.png">
  <link rel="icon" type="image/png" href="/main/img/favicon.png">
  <title>
    USERS
  </title>
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />
  <!-- Nucleo Icons -->
  <link href="/main/css/nucleo-icons.css" rel="stylesheet" />
  <link href="/main/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <!-- CSS Files -->
  <link id="pagestyle" href="/main/css/material-dashboard.css?v=3.0.0" rel="stylesheet" />
</head>
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-sm-12">
      <div class="fline">
        <h2 class="w-50 mx-auto my-2">Create Offer For Product</h2>
      </div>
      
      <form action="/productOfferCreate" method="post">
        <div class="form-group">
          <input class="form-control w-50 mx-auto my-3" type="text" placeholder="Offer Name" name="name" id="name">
          <div class="text-center">
            <span id="nameError" style="color: red;"></span>
          </div>
        </div>
        
        <div class="form-group">
          <input class="form-control w-50 mx-auto my-3" type="number" placeholder="Offer Percentage" name="percentage" id="percentage">
          <div class="text-center">
            <span id="percentageError" style="color: red;"></span>
          </div>
        </div>
        
        <div class="form-group">
          <select class="form-control w-50 mx-auto my-3" name="product">
            <% for (let i = 0; i < data.length; i++) { %>
              <option value="<%= data[i]._id %>"><%= data[i].productName %></option>
            <% } %>
          </select>
        </div>
        
        <div class="form-group">
          <input class="form-control w-50 mx-auto my-3" type="number" placeholder="Offer Duration (in days)" name="duration" id="duration">
          <div class="text-center">
            <span id="durationError" style="color: red;"></span>
          </div>
        </div>
        
        <div class="form-group">
          <input class="form-control w-50 mx-auto my-3" type="date" placeholder="Expiry Date" name="expiryDate" id="expiryDate">
          <div class="text-center">
            <span id="expiryDateError" style="color: red;"></span>
          </div>
        </div>
        
        <div class="form-group">
          <button class="form-control w-50 login mx-auto my-3" id="submitButton" type="submit">ADD</button>
        </div>
      </form>
    </div>
  </div>
</div>
